<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>error</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/some-time-later" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/register.css">
</head>
<body style="display: flex; align-items: center; justify-content: center; font-family: 'SomeTimeLaterRegular';">
<div  style="display: flex;flex-direction: column; justify-content: center; align-items: center;width: calc(100% - 4rem);max-width: 72rem;  background-color: #ffffff; position: relative; padding-bottom: 1rem">
<h1 style="text-transform: uppercase;margin-bottom: 0;margin-top: 0">oh snap! something went wrong</h1>
<p style="width: 80%;margin-top: 0;margin-bottom: 0; font-weight: lighter; font-size: 1rem;text-align: center"><%=error%></p>
<img style=" margin-top: 0"  src="/images/error.png" alt="Error" width="350" height="400">
<a style="text-decoration: none; border: none" href="/"><button >Take me home</button></a>
</div>




</body>
</html>
