<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home page</title>
    <link href="Index.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>SERVER-SIDE CODING</h1>
<h2>SEMESTER PROJECT<br>SS2021</h2>
<h3>TEAM MEMBERS :</h3>
<div>
    <p>Abdelrahman Fares<br>CC201013</p>
    <p>Omar Fares<br>CC201010</p>
</div>
</body>
</html>