<!DOCTYPE HTML>
<html>
<head>
    <title>Home page</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/some-time-later" type="text/css"/>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/index.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="/users">USERS</a></li>
            <li><a href="/register">REGISTER</a></li>
            <li><a href="/login">LOGIN</a></li>
        </ul>

        <ul class="icons">
            <li><a href="/users/user/chat">Chat<i style='font-size:1rem; margin-left: 0.1rem ; display: inline-block' class='far'>&#xf086;</i></a></li>
            <li><a href="/logout">logout</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">

                <span class="date" style=" margin-bottom: 30px; letter-spacing: 1px">SERVER SIDE CODING 2021</span>
                <h2 style=" margin-top: 0; ">Here is SSC <br/>
                        Semester project For <br>Abdelrahman fares<br> (cc201013)<br> &<br> Omar fares<br> (cc201010)
                </h2>
                <p>Abdelrahman fares (cc201013) & Omar fares (cc201010)</p>

            </header>
            <a class="image main"><img src="images/ob.jpeg" alt=""/></a>
            <ul class="actions special">
                <li><a href="/aboutUs" class="button large">ABOUT US</a></li>
            </ul>
        </article>
    </div>
</div>


</body>
</html>