<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/login.css">
</head>
<body>


<form action="/login" method="post">
    <h1>Login details</h1>
    <input type="text" id="username" name="username" placeholder="Enter your username" value=""/>
    <input type="password" id="password" name="password" placeholder="Enter your password" value=""/>
    <input id="button" type="submit" value="Login"/>
    <input id="button1" type="reset" value="Clear all"/>

</form>

</div>
<script>
    function $(elementId) {
        return document.getElementById(elementId);
    }
    /*alert("hallo from login page");*/
    console.log("hallo from login page");

    $("button").onclick = () =>{
        //alert("works");
        var fname = $("username").value;
        var fpassword = $("password").value;
        console.log("Username: " + fname);
        console.log("Password: " + fpassword);
    }
</script>
</body>
</html>
