<!DOCTYPE HTML>
<html>
<head>
    <title>Login</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/some-time-later" type="text/css"/>
    <link rel="stylesheet" href="/login.css" >
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">
    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="/">HOME</a></li>
            <li><a href="/users">USERS</a></li>
            <li ><a href="/register">REGISTER</a></li>
            <li class="active"><a>LOGIN</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Form -->
        <h2>LOGIN</h2>
        <form method="post" action="/login">
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="username" id="demo-name" value="" placeholder="Character name" />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="password" id="demo-email" value="" placeholder="Password" />
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="LOGIN" class="primary" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- Scripts -->
<script>
    function $(elementId) {
        return document.getElementById(elementId);
    }
    /*alert("hallo from login page");*/
    console.log("hallo from login page");

    $("button").onclick = () =>{
        //alert("works");
        var fname = $("username").value;
        var fpassword = $("password").value;
        console.log("Username: " + fname);
        console.log("Password: " + fpassword);
    }
</script>
</body>
</html>
