<!DOCTYPE HTML>
<html>
<head>
    <title>Register</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/some-time-later" type="text/css"/>
    <link rel="stylesheet" href="/register.css" />

</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper">

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="/">HOME</a></li>
            <li><a href="/users">USERS</a></li>
            <li class="active"><a href="">REGISTER</a></li>
            <li ><a href="/login">LOGIN</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main" >
        <!-- Form -->
        <h2>Registeration</h2>

        <form method="post" action="/users/add/user" enctype="multipart/form-data" >

            <div class="row gtr-uniform"  >

                <div class="col-6 col-12-xsmall">
                    <input type="text" name="name" id="name" value="" placeholder="Character Firstname" required />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="surname" id="last name" value="" placeholder="Character Lastname"required />
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="nickname" id="nick" value="" placeholder="Nick name" required/>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="email" name="email" id="email" value="" placeholder="Email" required/>
                </div>
                <div class="col-6 col-12-xsmall">
                    <input type="text" name="password" id="password" value="" placeholder="Password" required/>
                </div>

                <div  style=" padding-top: 0" class="col-6 col-12-xsmall">
                    <input style="display: block ; font-size: 1.4rem" type="file" name="image" id="image" accept="image/png, image/gif, image/jpeg"  />
                </div>

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="REGISTER" class="primary" /></li>
                        <li><input type="reset" value="CLEAR ALL" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>





