<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/register.css">
</head>
<body>


<form method="post" action="/users/register">
    <h1>Register form</h1>
    <input type="text" id="name" name="name" placeholder="Name" value="" required/>
    <input type="text" id="surname" name="surname" placeholder="Surname" value=""/>
    <input type="text" id="hero" name="hero" placeholder="Hero" value=""/>
    <input type="email" id="email" name="email" placeholder="Email" value=""/>
    <input type="text" id="info" name="info" placeholder="Info" value=""/>

    <input id="button" type="submit" value="Register"/>
    <input id="button1" type="reset" value="Clear all"/>

</form>

</div>

</body>
</html>
