<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>unauthorized</title>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/some-time-later" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/empty.css">
</head>
<body>
<div>
    <h1><%=title%></h1>
    <img src="/images/empty.png" alt="Error" width="350" height="400">
    <a href = "/login"><button>LOGIN</button></a>
</div>


</body>
</html>
