<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Information</title>
    <link rel="stylesheet" href='/User.css'>
</head>
<body>
<!--<h1>HALLO FROM USERS PAGE</h1>-->


<div id="wholeBodyContent">
    <h2>User Information </h2>
<div id="contentBody">
    <ul class="labels">
        <li>#ID:</li>
        <li>NAME:</li>
        <li>SURNAME:</li>
        <li>HERO:</li>
        <li>Email:</li>
        <li>Info:</li>
        <li>Password:</li>
    </ul>


    <ul class="data">
        <% Object.keys(user).forEach(function (key) { %>
        <li class="trail"> <%= user[key] %></li>
            <% }) %>
    </ul>

</div>
</div>

</body>

</html>
