<!DOCTYPE html>
<html lang="en">
<head>
    <title>User Information</title>
    <link rel="stylesheet" href="/test.css" >
</head>
<body>
<!--<h1>HALLO FROM USERS PAGE</h1>-->


<div>
    <h2>Users Information </h2>


    <ul class="labels">
        <li>#ID</li>
        <li>NAME</li>
        <li>SURNAME</li>
        <li>HERO</li>
    </ul>



        <ul class="data">
            <li><%= user.id %></li>
            <li><%= user.name %></li>
            <li><%= user.surname %></li>
            <li><%= user.hero %></li>
        </ul>



</div>
</body>
</html>