/* Icons */
#nav ul.icons {
    -moz-flex-grow: 0;
    -webkit-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    margin-bottom: 0;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-family: 'SomeTimeLaterRegular';
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    text-transform: uppercase;
}
#nav ul.icons li a {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    font-size: 0.8rem;
    outline: none;
    cursor: pointer;
}


/*Image*/
.image {
    border: 0;
    display: inline-block;
    position: relative;
}


.image.main {
    display: block;
    margin: 0 auto;
    margin: 4rem auto;
    width: 60%;
}
.image.main img {
    width: 90%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}
a.image {
    overflow: hidden;
}
a.image img {
    transition: transform 0.2s ease-out;
}

a.image:hover img {
    transform:none;
}


header.major > .date:before, header.major > .date:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: calc(50% - 6rem);
    border-top: solid 2px #eeeeee;
}

table.customTable {
    width: 100%;
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #7EA8F8;
    border-style: solid;
    color: #000000;
    font-size: 1.5rem;
}

table.customTable td, table.customTable th {
    border-width: 2px;
    border-color: #eeeeee;
    border-style: solid;
    padding: 20px;
}

table.customTable thead {
    background-color: #7EA8F8;
}

.head{
    font-weight: 500;
    text-transform: uppercase;
    width: 200px;
}

.input{
    width: 100%;
    height: 30px;
    text-align: center;
    outline: none;
    border: none;
    font-family: 'SomeTimeLaterRegular';
    font-size: 1.5rem;

}

.imm{
    font-family: 'SomeTimeLaterRegular';
    font-size: 1.2rem;
    margin-left: 100px;
}



/* Chrome, Edge & Safari */
input[type="file"]::-webkit-file-upload-button {
    background-color: #212931;
    box-shadow: none;
    color: #ffffff !important;
    appearance: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: 'SomeTimeLaterRegular';
    padding: 0.5rem;
    text-align: center;
    text-transform: uppercase;
}
