html {
    height: 100%;
    background: rgb(142, 203, 207);
    background: linear-gradient(90deg, rgba(142, 203, 207, 1) 50%, rgba(117, 178, 246, 1) 50%);
}

h1 {
    font-size: 50px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}

h2 {
    font-weight: bolder;
    font-size: 35px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

h3 {
    font-weight: bolder;
    font-size: 35px;
    margin: 50px auto;
    text-align: center;
    justify-content: center;
}

div {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 0;

}

p {

    flex-grow: 1;
    width: 400px;
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}