@import url(webfonts/fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 12pt;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1;
    background-color: #1e252d;
    color: #212931;
    font-family: "Merriweather", Georgia, serif;
    font-family: 'SomeTimeLaterRegular';
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.375;
}

/* Basic */
a {
    border-bottom: dotted 1px;
    text-decoration: none;
}
a:hover {
    border-bottom-color: transparent;
}

h2 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-family: 'SomeTimeLaterRegular';
    font-weight: 900;
    line-height: 1.5;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    margin: 0 0 1rem 0;
    font-size: 2rem;
    line-height: 1.3;
    margin: 0 0 1.5rem 0;
    color: #212931;
}
h2 a{
    border-bottom: 0;
    color: inherit;
    text-decoration: none;
}
a {
    color: #212931;
    border-bottom-color: rgba(33, 41, 49, 0.5);
}
a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}
input  {
    font-family: "Merriweather", Georgia, serif;
    font-family: 'SomeTimeLaterRegular';
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2.375;
    color: #212931;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;

}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*END OF BASICS*/
/* Wrapper */

#wrapper {
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    position: relative;
    z-index: 1;
    overflow: hidden;
}


/*NAV OPTIONS*/

/* NAV BAR OPTIONS*/
nav{
    display: block;
}
ul {
    margin: 0 0 2rem 0;
    padding-left: 1rem;
}

ul li {
    padding-left: 0.5rem;
}

/* Actions */
ul.actions {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1rem;
    padding-left: 0;
}

ul.actions li {
    padding: 0 0 0 1rem;
    vertical-align: middle;
}
/* Nav */
#nav {
    color: #ffffff;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-transition: -moz-transform 1s ease, opacity 1s ease;
    -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
    -ms-transition: -ms-transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
    background: rgba(255, 255, 255, 0.175);
    height: 4rem;
    line-height: 4rem;
    margin: -4rem auto 0 auto;
    overflow: hidden;
    padding: 0 2rem 0 0;
    position: relative;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
    margin-top: 0px;
}
#nav a {
    color: #ffffff;
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
#nav a:hover {
    border-bottom-color: transparent;
    color: #18bfef !important;
}
#nav ul.links {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -moz-flex-shrink: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-shrink: 1;
    flex-shrink: 1;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-family: 'SomeTimeLaterRegular';
    font-weight: 900;
    letter-spacing: 0.075em;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    text-transform: uppercase;
}
#nav ul.links li {
    display: block;
    padding-left: 0;
}
#nav ul.links li a {
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    font-size: 1.1rem;
    outline: none;
    padding: 0 2rem;
}

#nav ul.links li a:hover {
    color: inherit !important;
    background-color: rgba(255, 255, 255, 0.1);
}

#nav ul.links li.active {
    background-color: #ffffff;
}

#nav ul.links li.active a {
    color: #1e252d;
}

#nav ul.links li.active a:hover {
    color: #18bfef !important;
}
/*END NAV OPTIONS*/


/* Main */
#main {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 4rem);
    max-width: 72rem;
    z-index: 2;
}

#main > * {
    padding: 4rem 4rem 2rem 4rem ;
    border-top: solid 2px #eeeeee;
    margin: 0;
}

#main > *:first-child {
    border-top: 0;
}

/*END OF MAIN*/

/* Form */
form {
    /*margin: 0 0 2rem 0;*/

}

form > :last-child {
    margin-bottom: 0;
    margin-top: -2rem;
}


input[type="text"],
input[type="password"],
input[type="email"]
{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0;
    border: solid 2px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 3rem;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    border-color: #eeeeee;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #18bfef;
}


/* Row */
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    align-items: stretch;
    margin-top: 0;
    /*margin-left: -1.5rem;*/
}

.row > * {
    box-sizing: border-box;
}

.row.gtr-uniform > * > :last-child {
    margin-bottom: 0;
}
/*REGISTERATION INPUT FIELD*/
.row > .col-6 {
    width: 50%;
    padding: 0.5rem;
}

.row > .col-12 {
    width: 100%;
    padding-left: 0.5rem;
    margin-top: 0.7rem;
}



/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    appearance: none;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-family: 'SomeTimeLaterRegular';
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.075em;
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}


input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #212931;
    color: #212931 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    box-shadow: inset 0 0 0 2px #18bfef;
    color: #18bfef !important;
}


input[type="submit"].primary,
button.primary,
.button.primary {
    background-color: #212931;
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: #18bfef;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #212931;
    box-shadow: none;
    color: #ffffff !important;
    appearance: none;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    font-family: 'SomeTimeLaterRegular';
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 1.3rem;
}