html {
    height: 100%;
    background: rgb(142, 203, 207);
    background: linear-gradient(90deg, rgba(142, 203, 207, 1) 50%, rgba(117, 178, 246, 1) 50%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    width: 1300px;

}

h1 {
    font-size: 50px;
}

div {
    margin: 0;
    padding: 0;
    width: 100%;
    background: snow;

}

h2 {
    background: dodgerblue;
    text-align: center;
    font-size: 40px;
    color: white;
    border: 1px solid cornflowerblue;
    width: 99.9%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;
}


ul.labels {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 7px 0;
    background: gainsboro;
}

ul.data {

    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #e8e8e8;
    height: 80px;

}

li {

    width: 200px;
    padding: 0;
    margin-right: 30px;

}
.trail{
    margin-top: 20px;
    max-width: 140px;
    padding: 0;
    margin-right: 67px;
    display: inline-block;

}
