html{
    height: 100%;
    background: rgb(142,203,207);
    background: linear-gradient(90deg, rgba(142,203,207,1) 50%, rgba(117,178,246,1) 50%);
    width: 100%;
    align-items : center;
    height: 100%;
/*
    /* This is what makes the background image rescale based
    on the container's size */
    /*background-size: cover;*/
    /* Location of the image */
    /*background-image:url('images/Beach.jpg') ;*/
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    width: 1300px;
    /* border: 1px solid black;*/
}
image{
    width: 600px;
}


div{
    margin: 0;
    padding: 0;
    /*border: 1px solid gray;*/
    width: 100%;
    background: snow;
    /*background: red;*/
    /*margin-top: 0;*/
}

h2{
    background: dodgerblue;
    text-align: center;
    font-size: 40px;
    color: white;
    /*border: 1px solid cornflowerblue;*/
    width: 100%;
    margin-top:0;
    margin-bottom: 0;
    padding: 8px 0;
}




ul.labels{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 7px 0;
    background: gainsboro;
    /*border: 2px solid red;*/

}

ul.data{
    /*border: 1px solid black;*/
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #e8e8e8;
    height: 80px;
    /*border: 2px solid red;*/


}
li{
    /*border: 1px solid black;*/
    width:200px;
    padding: 0;
    margin-right: 30px;
}