html {
    height: 100%;
    /*background: rgb(142, 203, 207);
    background: linear-gradient(90deg, rgba(142, 203, 207, 1) 50%, rgba(117, 178, 246, 1) 50%);*/
    max-height: 100vh;
    background: #56baed;
    /*background-image: url("/images/kk.jpeg");
    background-size: cover;
    background-attachment: fixed;*/

}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    width: 1300px;
    /* border: 1px solid black;*/
}

h1 {
    font-size: 50px;
}

div {
    margin: 0;
    padding: 0;
    /*border: 1px solid gray;*/
    width: 100%;
    background: rgba(255, 250, 250, 0.8);
    border-radius: 20px 20px 10px 10px;

}

h2 {
    background: linear-gradient(120deg, #248A52, #257287);
    text-align: center;
    font-size: 40px;
    color: white;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;
    border-radius: 20px 20px 0 0px;
}
/*new part*/

ul.labels {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 7px 0;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

ul.data {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    padding: 7px 0;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #e8e8e8;
    border-radius: 10px;
    height: 80px;
}

ul.labels li {
    width: 200px;
    padding: 0;
    margin-right: 30px;
    margin-left: 10px;
}

ul.data li {
    width: 200px;
    padding: 0;
    margin-right: 27px;

}


.goToUser{
    text-decoration: none;
    color: black;
}